# Virtual environment
.venv/
venv/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Large datasets / Temporary folders
**/tmp/
*.zip
*.tar.gz
*.tgz
*.rar

# Deep Learning / YOLO files
*.pt
**/datasets/
*.weights
**/checkpoints/
**/outputs/

# Ignorar o conteúdo de resultados por padrão
**/resultados/**

# Não ignorar as subpastas de resultados para que o Git possa varrê-las
!**/resultados/**/

# Não ignorar relatórios (.txt) e imagens/gráficos (.png, .jpg, .jpeg)
!**/resultados/**/*.txt
!**/resultados/**/*.png
!**/resultados/**/*.jpg
!**/resultados/**/*.jpeg

# Ignorar o conteúdo de resultados_coco por padrão
**/resultados_coco/**

# Não ignorar as subpastas de resultados_coco para que o Git possa varrê-las
!**/resultados_coco/**/

# Não ignorar relatórios (.txt) de resultados_coco
!**/resultados_coco/**/*.txt

# Não ignorar apenas as imagens mais importantes do treinamento e validação em resultados_coco
!**/resultados_coco/**/results.png
!**/resultados_coco/**/confusion_matrix*.png
!**/resultados_coco/**/Box*_curve.png
!**/resultados_coco/**/val_batch*_pred.jpg

# Reconhecimento Facial (Desafio)
**/facial_recognition/dataset/
**/facial_recognition/models/
**/facial_recognition/outputs/detections/
**/facial_recognition/outputs/screenshots/

# Recomendação de Imagens (Desafio)
**/Desafio - Criando um Sistema de Recomendação por Imagens Digitais/archive/
**/Desafio - Criando um Sistema de Recomendação por Imagens Digitais/cache/
**/Desafio - Criando um Sistema de Recomendação por Imagens Digitais/modelo_recomendacao/


