# Virtual environment
.venv/
venv/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Large datasets / Temporary folders
**/tmp/
*.zip
*.tar.gz
*.tgz
*.rar
